<div class="top-bar">
    <div class="toolbar-group">
        <a href="#" class="toolbar-link quick-actions-link"><i class="fas fa-plus-circle"></i> Quick Actions</a>
        <a href="#" class="toolbar-link"><i class="fas fa-cog text-secondary"></i> Setup</a>
        <a href="#" class="toolbar-link"><i class="fas fa-chart-column text-secondary"></i> Reports</a>
        <a href="#" class="toolbar-link"><i class="fas fa-ellipsis-vertical text-secondary"></i> More</a>
    </div>

    <div class="search-container">
        <input type="text" class="custom-search-input" placeholder="Search equipment, work orders, inventory, & more">
    </div>

    <div class="user-tools">
        <span>Admin | Your Company Name</span>
        <a href="#"><i class="fas fa-database text-secondary"></i> Tools</a>
        <a href="#"><i class="fas fa-question-circle text-secondary"></i> Help</a>
    </div>
</div>